/* FUENTE */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

*{
    margin: 0;
    padding: 0;
}

.miNavBar{
    background-color: rgb(9, 168, 30);
}

.arreglo{
    display: flex;
    justify-content: end;
}

.miCont a{
    font-family: 'Oswald', sans-serif;
    background-color: rgb(7, 187, 31);
    padding: 0.3rem;
    margin: 0.4rem;
    font-size:xx-large;
    color: white;
    border-radius: 4px ;
    box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 22%);
}

.escudoVilo img{
    width: 5.5rem;
}

body{
    background-color:rgb(192, 231, 185);
}

.miCol img{
    height: 100%;
    width: 100%;
}

.imgPrincipal{
    opacity: 80%;
}

.miRow h1{
    font-family: 'Oswald', sans-serif;
    font-size: 600%;
    border: 0.15rem white solid;
    color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.alineacion{
    align-items: center;
    background-color:rgb(192, 231, 185);
    border: none;
}
.col-xl-4 img{
    width: 24rem;
    height: 21rem;
    border-radius: 25px;
    border: 2px black solid;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.col-xl-4 h2{
    border: 2px rgb(192, 231, 185) solid;
    border-radius: 10px;
    font-size: x-large;
    color: rgb(192, 231, 185);
    background-color: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 22%);
}

.miCard{
    background-color: #2d2d2d;
    border-radius: 0;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.miCard img{
    width: 6.5rem;
    
}

.miCard i{
    color: black;
    font-size: x-large;
    background-color: white;
    border-radius: 7px;
}

/************************************************ INSTITUCION *****************************************************************/

.titulo{
    font-family:'Oswald', sans-serif;
    font-size: 65px;
    border: 2px black solid;
    border-radius: 15px;
    color:black;
    background-color: rgb(13, 194, 37);
    font-weight: 900;
}

.entrenadores{
    border-radius: 3rem;
}

.texto{
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: justify;
    font-weight: 800;
}

.forTitle h2{
    border: 2px black solid;
    border-radius: 10px;
    font-size: 1.7rem; 
    color: black;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.instalaciones img{
    width: 33rem;
    border: 2px white solid;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.instT{
    font-family:'Oswald', sans-serif;
    font-size: 45px;
    border: 2px black solid;
    border-radius: 15px;
    color:black;
    background-color: rgb(13, 194, 37);
    font-weight: 900;
}


/*********************************************** DEPORTES **********************************************************/
.bloquePrincipal p{
    width: 10.2rem;
    font-family:'Oswald', sans-serif;
    font-size: larger ;
    border: 2px solid black;
    background-color: white;
    color: black;
}

.bloquePrincipal h1{
    width: 17rem;
    text-align: center;
    font-family:'Oswald', sans-serif;
    font-size: 5rem;
    border: 2px black solid;
    padding: 5px;
    border-radius: 15px;
    background:linear-gradient(to right,#093028, #0b740b);
    color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.bloquePrincipal h2{
    width: 23rem;
    text-align: center;
    font-family:'Oswald', sans-serif;
    font-size: 2.5rem;
    border: 2px black solid;
    padding: 5px;
    border-radius: 15px;
    background:linear-gradient(to right,#093028, #0b740b);
    color: white;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.categCards{
    align-items: center;
    background-color: rgb(192, 231, 185);
    border: none;
}

.categCards img{
    width: 27em;
    height: 25rem;
    border: white solid 2px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);;
}

.gridsCategorias h2{
    width: 21rem;
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
    border: 2px black solid;
    background:linear-gradient( rgb(178, 182, 175), white) ;
    padding: 5px;
    font-size: 2.5rem;
    border-radius: 5px;
}

.gridsCategorias h3{
    border: 2px black solid;
    border-radius: 6px;
    font-size: 1.7rem; 
    color: black;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.tituloTabla h3{
    font-family: 'Oswald', sans-serif;
    color: white;
    background:linear-gradient(to right,#093028,#0b740b );
    border: solid black 2px;
    text-align: center;
    font-size: 2.2rem;
    border-radius: 5px;
    box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 22%);
}

.miTable{
    width: 60rem;
    background: linear-gradient(to right, #36c729,#dbfabf );
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 22%);
}

.miTable th{ 
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size:1.9rem;
}

.miTable td{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-size:1.4rem;
}

/*********************************************** VILO STORE **********************************************************/

.store{
    text-align: end;
    color: black;
    font-family:fantasy;
    font-size: 6rem;
    text-decoration: underline; 
}

.percha{
    width: 8rem;
}

.storeCards{
    align-items: center;
    background-color: rgb(192, 231, 185);
    border:none
}

.storeCards img{
    width: 22rem;
    border: black solid 2px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
}

.storeCards h3{
    border: 2px black solid;
    border-radius: 8px;
    color: black;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}

.myRow h2{
    width: 12rem;
    text-align: center;
    color: black;
    font-family: 'Oswald', sans-serif;
    border: 2px black solid;
    background:linear-gradient( rgb(178, 182, 175), white) ;
    padding: 5px;
    font-size: 3.5rem;
    border-radius: 5px;
}  

/*********************************************** CONTACTO **********************************************************/

iframe{
    width: 100%;
    height: 500px;
}

.ubicacion{
    display: flex;
    flex-direction: row;
}

.rowInfo h2{
    text-align: center;
    border: 1px rgb(192, 231, 185) solid;
    border-radius: 15px;
    font-size: xx-large;
    color: rgb(192, 231, 185);
    background-color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    box-shadow: 0 8px 10px rgb(0 0 0 / 19%), 0 3px 3px rgb(0 0 0 / 22%);
}

.rowInfo i{
    font-size: 1.7rem;
    color: black;
}

.rowInfo p{
    font-size: larger;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.rowInfo a{
    font-family: 'Oswald', sans-serif;
    color: rgb(13, 78, 216);
    font-size: 1.2rem;
    text-decoration: none;
    text-align: start;
}

.listaHorarios{
    display: flex;
    flex-direction: row;
}

.rowInfo ul{
    list-style-type: none;
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    color: black;
}

.rowInfo div{
    background-color: rgb(192, 231, 185);
    border: none;
}

/* MEDIA QUERIES */

@media(max-width:991px){
    .arreglo{
        display: flex;
        justify-content: start;
        margin-top: 0.5rem;
    }

    .escudoVilo{
        display: none;
    }

    .miCol img{
        height: 23rem;
    }
}

@media (max-width: 767px){
    .imagen{
        display: none;
    }

    .percha{
        display: none;
    } 

    .store{
        text-align: center;
    }
}

@media (max-width: 510px){
    .miRow h1{
        font-size: 500%;
    }
} 
