$color_1: white;
$color_2: rgb(192, 231, 185);
$color_3: black;
$color_4: rgb(13, 78, 216);
$font-family_1: 'Oswald', sans-serif;
$font-family_2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$font-family_3: fantasy;
$background-color_1: rgb(9, 168, 30);
$background-color_2: rgb(7, 187, 31);
$background-color_3: rgb(192, 231, 185);
$background-color_4: black;
$background-color_5: #2d2d2d;
$background-color_6: white;
$background-color_7: rgb(13, 194, 37);