/* COLORES */
$body: rgb(192, 231, 185);
$links: rgb(13, 78, 216);

/* FONT-FAMILY */
$principal: 'Oswald', sans-serif;
$textoInstitucion: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$viloStore: fantasy;

/* BACKGROUND-COLOR */
$verdeOscuro: rgb(9, 168, 30);
$verdeClaro: rgb(7, 187, 31);
$background-body: rgb(192, 231, 185);
$footer: #2d2d2d;

/* BOX-SHADOW */
$box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);

/* BORDER */
$border-black: 2px black solid;
$border-white: 2px white solid;

/* H2 y H3 IGUALES */
.claseCopia{
    border: $border-black;
	border-radius: 8px;
	font-size: 1.7rem;
    color: black;
	background-color: white;
	font-family: $principal;
}

/* BLACK AND BODY */
.blackAndBody{
	border: 2px rgb(192, 231, 185) solid;
	border-radius: 10px;
	font-size: x-large;
	color: $body;
	background-color: black;
	font-family: $principal;
	text-align: center;
	box-shadow: $box-shadow;
}

/* GREY AND WHITE */
.greyAndWhite{
	width: 21rem;
	text-align: center;
	color: black;	
	font-family: $principal;
	border: $border-black;
	background: linear-gradient( rgb(178, 182, 175), white);
	padding: 5px;
	font-size: 2.5rem;
	border-radius: 5px;
}